{% extends "blog/base.html" %}

{% block title %}{{post.Title}} - {{site.Summary}}{% endblock %}
{% block name %}{{site.Name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-lg-9">
        <div class="post">
            <div class="post-body">
                <div class="post-title">{{post.Title}}</div>
                <div class="post-tag">
                    <b>分类：</b>
                    {% for c in post.Categories.all %}
                    {{c.Name}}
                    {% if not forloop.last %}
                    /
                    {% endif %}
                    {% endfor %}
                    <b style="margin-left:10px;">标签:</b>
                    {% for t in post.Tags.all %}
                    {{t.Name}}
                    {% if not forloop.last %}
                    /
                    {% endif %}
                    {% endfor %}
                    <b style="margin-left:10px;">时间：</b>{{post.CreateTime| date:'Y/m/d H:i'}}
                    <b style="margin-left:10px;">作者：</b><a href="#">{{post.User.first_name}} {{post.User.last_name}}</a>
                </div>
                <div class="post-content">
                    {% autoescape off %}
                    {{ post.Content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>

        <div class="comment">
            <h4>评论 ({{ count }})</h4>
            <hr/>
        </div>
        <div class="comment-list">
            <div class="col-xs-12 col-lg-12">

                {% for c in comments %}
                    {% if c.RecommentId == None %}

                    <div class="comment-item">
                        <div class="comment-head">
                            <div class="comment-img"><i class="fa fa-user fa-3x" style="color: #999;"></i></div>
                            <div class="comment-user">
                                <p>{{c.Creator}}</p>
                                <p>{{c.CreateTime | date:'Y/m/d H:i'}}</p>
                            </div>
                            <div class="comment-index">
                                <h3># {{ forloop.counter }}</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="comment-content">
                            <p>{{c.Content}}</p>
                        </div>
                        <div class="comment-foot">
                            <a href="#widget-comment" onclick="reply('{{c.Id}}', '{{c.Creator}}')">回复</a> |
                        </div>
                    </div>

                        {% for t in c.childs %}

                            <div class="comment-subItem">
                                <div class="comment-head">
                                    <div class="comment-img"><i class="fa fa-user fa-3x" style="color: #999;"></i></div>
                                    <div class="comment-user">
                                        <p>{{t.Creator}}</p>
                                        <p>{{t.CreateTime | date:'Y/m/d H:i'}}</p>
                                    </div>
                                    <div class="comment-index">
                                        <h3># {{ forloop.counter }}</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="comment-content">
                                    <p>{{t.Content}}</p>
                                </div>
                            </div>

                        {% endfor %}


                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div id="widget-comment" class="comment-widget">
            <div class="row">
                <div class="col-xs-12 col-lg-12" style="padding: 10px;">
                    <h4 id="commentTitle">添加评论</h4>
                    <form>
                        <div class="form-group">
                            <label>名称(*)</label>
                            <input id="inptCreator" class="form-control" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label>评论(*)</label>
                            <textarea id="txtContent" class="form-control" placeholder="请输入评论内容" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info" onclick="saveComment()">保存评论</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-3">

        <div class="widget">
            <div class="widget-title">猜你喜欢</div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    {% for r in recommends %}

                    <p><a href="/post/{{r.Id}}">{{r.Title}}</a></p>

                    {% endfor %}
                </div>
            </div>
        </div> <!-- Search Widget -->

    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/page/post.js"></script>
<script type="text/javascript">

    postId = '{{post.Id}}';
    csrfmiddlewaretoken = '{{csrf_token}}';

</script>

{% endblock %}