{% extends "manage/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">添加/编辑 文章</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" ms-controller="post">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label>标题</label>
                <input ms-duplex="title" class="form-control" maxlength="100" placeholder="标题" type="text" />
            </div>
            <div class="form-group">
                <label>内容</label>
                <div id="divToolbar" style="border: 1px #ccc solid;"></div>
                <div id="divContent" style="border: 1px #ccc solid; height:500px;"></div>
            </div>
            <div class="form-group">
                <label>简介</label>
                <textarea ms-duplex="summary" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <p style="font-weight:bold;">分类</p>
                <label class="checkbox-inline" ms-for="el in @categories">
                    <input type="checkbox" ms-attr="{ value: el.Id }" ms-click="checkedCategory" /> {?@el.Name?}
                </label>
            </div>
            <div class="form-group">
                <p style="font-weight:bold;">标签</p>

                <label class="checkbox-inline" ms-for="el in @tags">
                    <input type="checkbox" ms-attr="{ value: el.Id }" ms-click="checkedTag" /> {?@el.Name?}
                </label>

            </div>
            <div class="form-group" style="text-align:center;">
                <button class="btn btn-primary" type="button" ms-click="save">保存文章</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>


{% endblock %}

{% block script %}

<script src="/static/manage/vendor/wangEditor/wangEditor.js"></script>

<script src="/static/manage/js/biz/post.js"></script>

<script type='text/javascript'>
    var E = window.wangEditor
    var editor = new E('#divToolbar', '#divContent')
    editor.customConfig.uploadImgServer = "/api/upload"
    editor.customConfig.uploadImgParams = {
        csrfmiddlewaretoken: '{{csrf_token}}'
    }
    editor.create();

    $(function () {

        vm.id = '{{id}}';
        vm.csrfmiddlewaretoken = '{{csrf_token}}';

        vm.getCategories();
        vm.getTags();

        vm.get();
    });

</script>

{% endblock %}